#container{
  position: absolute;
  z-index: 2;
  background-color: red;
  top: 25%; 
  left 25%;
  width: 500px;
  height: 300px;
}

html, body{
  z-index: 1;
  width: 100vh;
  height: 100vh;
  margin: 0;
}

button {
  color: white;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  z-index: 1;
}

.open{
  animation-duration: 1s;
  animation-name: open;
}

@keyframes open {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
